@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme {
  --color-primary-400: #04fdf9;
  --color-primary-500: #03cac7;
  --color-primary-200: #68fefb;
  --color-primary-400-norml: #00eeffeb;
  --color-grey-100: #fafafa;
  --color-grey-400: #e6e6e6;
  --color-grey-500: #d9d9d9;
  --color-grey-600: #bfbfbf;
  --color-grey-700: #999999;
  --color-grey: #949494;
  --color-black-2: #191919;
  --color-black-3: #141414;
  --color-modal-bg: #0000009e;
  --color-black-border: #2b2b2b;
  --color-danger: #ff395d;
  --color-success: #14c220;
  --color-warning: #ff7861;

  --breakpoint-2xl: 90rem;

  --shadow-tooltip: 0px 4px 12px 0px #00000061;

  --text-32: 32px;
}

.bg-help {
  background-image: url("/images/help-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-balance {
  background-image: url("/images/balance-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-wallet {
  background-image: url("/images/wallet-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-bandwidth {
  background-image: url("/images/bandwidth-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@font-face {
  font-family: "Hubot Sans";
  src: url("/fonts/HubotSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hubot Sans";
  src: url("/fonts/HubotSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hubot Sans";
  src: url("/fonts/HubotSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Hubot Sans", sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-toast {
  background-color: #191919;
  box-shadow: 0px 4px 12px 0px #00000061;
  padding-top: 22px;
  padding-bottom: 22px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.Toastify__close-button {
  color: white;
}

.Toastify__toast {
  width: 688px;
}
